<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!--
        Only log entries that match the configured logger level (so we don't leak to other appenders when a trace
        is active.
        -->
        <filter class="com.dottydingo.tracelog.logback.LoggerLevelFilter"/>
    </appender>


    <logger name="com.dottydingo.hyperion" level="TRACE"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>