<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


    <bean id="noOpValidator" class="com.dottydingo.hyperion.core.validation.DefaultValidator"/>

    <bean id="loggingChangeEventListener" class="com.dottydingo.hyperion.northwind.service.LoggingChangeEventListener"/>
    <bean id="hyperionServiceRegistry"  parent="hyperionBaseServiceRegistry">
        <property name="entityChangeListeners" ref="loggingChangeEventListener"/>
        <property name="entities">
            <list>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Category"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentCategory"/>
                    <property name="historyEnabled" value="true"/>
                    <property name="historyType" value="com.dottydingo.hyperion.northwind.service.model.PersistentHistoryEntry"/>
                    <property name="persistentChangeListeners" ref="hyperionHistoryPersistentChangeListener"/>
                    <property name="additionalParameters" value="parameter1,parameter2"/>
                    <property name="versions">
                        <bean class="com.dottydingo.hyperion.jpa.configuration.JpaDefaultsVersionPluginBuilder">
                            <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Category"/>
                            <property name="translator">
                                <bean class="com.dottydingo.hyperion.northwind.service.translator.CategoryTranslator"
                                      init-method="init"/>
                            </property>
                            <property name="validator">
                                <bean class="com.dottydingo.hyperion.northwind.service.validation.CategoryValidator"/>
                            </property>
                            <property name="sortExcludeFields" value="description,imageUrl"/>
                            <property name="queryExcludeFields" value="description,imageUrl"/>
                            <property name="createKeyProcessor">
                                <bean class="com.dottydingo.hyperion.northwind.service.persistence.CategoryCreateKeyProcessor"/>
                            </property>
                        </bean>
                    </property>

                </bean>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Customer"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentCustomer"/>

                    <!-- add defaults that map apply to all versions (though can be overridden)-->
                    <property name="defaultSortBuilders">
                        <map>
                            <entry key="regionName">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                    <property name="propertyPath" value="region"/>
                                    <property name="propertyName" value="regionName"/>
                                </bean>
                            </entry>
                        </map>
                    </property>
                    <property name="overrideSortBuilders">
                        <map>
                            <entry key="regionId">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                    <property name="propertyPath" value="region"/>
                                    <property name="propertyName" value="id"/>
                                </bean>
                            </entry>
                        </map>
                    </property>
                    <property name="defaultQueryBuilders">
                        <map>
                            <entry key="regionName">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                    <property name="propertyPath" value="region"/>
                                    <property name="propertyName" value="regionName"/>
                                </bean>
                            </entry>
                        </map>
                    </property>
                    <property name="overrideQueryBuilders">
                        <map>
                            <entry key="regionId">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                    <property name="propertyPath" value="region"/>
                                    <property name="propertyName" value="id"/>
                                </bean>
                            </entry>
                        </map>
                    </property>
                    <property name="versions">
                        <list>
                            <bean class="com.dottydingo.hyperion.jpa.configuration.JpaDefaultsVersionPluginBuilder">
                                <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.legacy.Customer_v1"/>
                                <property name="translator">
                                    <bean class="com.dottydingo.hyperion.northwind.service.translator.legacy.Customer_v1Translator"
                                          init-method="init"/>
                                </property>
                                <property name="validator" ref="noOpValidator"/>
                                <!-- these will extend/override the generated values-->
                                <property name="sortBuilders">
                                    <map>
                                        <entry key="zipCode">
                                            <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                                <property name="propertyName" value="postalCode"/>
                                            </bean>
                                        </entry>
                                    </map>
                                </property>
                                <!-- these will extend/override the generated values-->
                                <property name="queryBuilders">
                                    <map>
                                        <entry key="zipCode">
                                            <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                                <property name="propertyName" value="postalCode"/>
                                            </bean>
                                        </entry>
                                    </map>
                                </property>

                            </bean>
                            <bean class="com.dottydingo.hyperion.jpa.configuration.JpaDefaultsVersionPluginBuilder">
                                <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Customer"/>
                                <property name="translator">
                                    <bean class="com.dottydingo.hyperion.northwind.service.translator.CustomerTranslator"
                                          init-method="init"/>
                                </property>
                                <property name="validator" ref="noOpValidator"/>
                            </bean>
                        </list>
                    </property>

                </bean>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Region"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentRegion"/>
                    <property name="entityChangeListeners" ref="loggingChangeEventListener"/>
                    <property name="versions">
                        <bean class="com.dottydingo.hyperion.jpa.configuration.JpaDefaultsVersionPluginBuilder">
                            <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Region"/>
                            <property name="translator">
                                <bean class="com.dottydingo.hyperion.northwind.service.translator.RegionTranslator"
                                      init-method="init"/>
                            </property>
                            <property name="validator" ref="noOpValidator"/>
                        </bean>
                    </property>

                </bean>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Territory"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentTerritory"/>
                    <property name="entityChangeListeners" ref="loggingChangeEventListener"/>
                    <property name="versions">
                        <bean class="com.dottydingo.hyperion.jpa.configuration.JpaDefaultsVersionPluginBuilder">
                            <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Territory"/>
                            <property name="translator">
                                <bean class="com.dottydingo.hyperion.northwind.service.translator.TerritoryTranslator"
                                      init-method="init"/>
                            </property>
                            <property name="validator">
                                <bean class="com.dottydingo.hyperion.northwind.service.validation.TerritoryValidator"/>
                            </property>
                        </bean>
                    </property>

                </bean>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Employee"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentEmployee"/>
                    <property name="entityChangeListeners" ref="loggingChangeEventListener"/>
                    <property name="historyEnabled" value="true"/>
                    <property name="historyType" value="com.dottydingo.hyperion.northwind.service.model.PersistentHistoryEntry"/>
                    <property name="persistentChangeListeners" ref="hyperionHistoryPersistentChangeListener"/>
                    <property name="versions">
                        <bean class="com.dottydingo.hyperion.jpa.configuration.JpaDefaultsVersionPluginBuilder">
                            <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Employee"/>
                            <property name="translator">
                                <bean class="com.dottydingo.hyperion.northwind.service.translator.EmployeeTranslator"
                                      init-method="init"/>
                            </property>
                            <property name="validator">
                                <bean class="com.dottydingo.hyperion.northwind.service.validation.EmployeeValidator"/>
                            </property>
                            <property name="queryExcludeFields" value="territoryIds"/>
                            <property name="sortExcludeFields" value="territoryIds"/>
                            <property name="queryBuilders">
                                <map>
                                    <entry key="territoryId">
                                        <bean class="com.dottydingo.hyperion.northwind.service.persistence.TerritoryIdQueryBuilder"/>
                                    </entry>
                                </map>
                            </property>
                        </bean>
                    </property>

                </bean>

            </list>
        </property>
    </bean>

</beans>