<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


    <bean id="noOpValidator" class="com.dottydingo.hyperion.core.validation.DefaultValidator"/>


    <bean id="keyConverter" class="com.dottydingo.hyperion.core.key.LongKeyConverter"/>

    <bean id="validationMessageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>com.dottydingo.hyperion.core.validation.hyperion_validation_messages</value>
                <value>com.dottydingo.hyperion.northwind.service.validation.ValidationMessages</value>
            </list>
        </property>
    </bean>


    <bean id="loggingChangeEventListener" class="com.dottydingo.hyperion.northwind.service.LoggingChangeEventListener"/>
    <bean id="hyperionServiceRegistry"  parent="hyperionBaseServiceRegistry">
        <property name="defaultKeyConverter" ref="keyConverter"/>
        <property name="entityChangeListeners" ref="loggingChangeEventListener"/>
        <property name="entities">
            <list>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Category"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentCategory"/>
                    <property name="historyEnabled" value="true"/>
                    <property name="historyType" value="com.dottydingo.hyperion.northwind.service.model.PersistentHistoryEntry"/>
                    <property name="persistentChangeListeners" ref="hyperionHistoryPersistentChangeListener"/>
                    <property name="versions">
                        <bean class="com.dottydingo.hyperion.core.configuration.ApiVersionPluginBuilder">
                            <property name="translator">
                                <bean class="com.dottydingo.hyperion.northwind.service.translator.CategoryTranslator"
                                      init-method="init"/>
                            </property>
                            <property name="validator">
                                <bean class="com.dottydingo.hyperion.northwind.validation.CategoryValidator">
                                    <property name="messageSource" ref="validationMessageSource"/>
                                </bean>
                            </property>
                            <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Category"/>
                            <property name="sortBuilders">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.sort.JpaEntitySortBuilderFactoryBean">
                                    <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Category"/>
                                    <property name="excludeFields">
                                        <set>
                                            <value>description</value>
                                            <value>imageUrl</value>
                                        </set>
                                    </property>
                                </bean>
                            </property>
                            <property name="queryBuilders">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.query.JpaEntityQueryBuilderFactoryBean">
                                    <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Category"/>
                                    <property name="excludeFields">
                                        <set>
                                            <value>description</value>
                                            <value>imageUrl</value>
                                        </set>
                                    </property>
                                </bean>
                            </property>
                            <property name="createKeyProcessor">
                                <bean class="com.dottydingo.hyperion.northwind.service.CategoryCreateKeyProcessor"/>
                            </property>
                        </bean>
                    </property>

                </bean>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Customer"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentCustomer"/>
                    <property name="versions">
                        <list>
                            <bean class="com.dottydingo.hyperion.core.configuration.ApiVersionPluginBuilder">
                                <property name="translator">
                                    <bean class="com.dottydingo.hyperion.northwind.service.translator.legacy.Customer_v1Translator"
                                          init-method="init"/>
                                </property>
                                <property name="validator" ref="noOpValidator"/>
                                <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.legacy.Customer_v1"/>
                                <property name="sortBuilders">
                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.JpaEntitySortBuilderFactoryBean">
                                        <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.legacy.Customer_v1"/>
                                        <property name="overrides">
                                            <map>
                                                <entry key="regionId">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="id"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                        <property name="additionalFields">
                                            <map>
                                                <entry key="regionName">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="regionName"/>
                                                    </bean>
                                                </entry>
                                                <entry key="zipCode">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                                        <property name="propertyName" value="postalCode"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                    </bean>
                                </property>
                                <property name="queryBuilders">
                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.JpaEntityQueryBuilderFactoryBean">
                                        <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.legacy.Customer_v1"/>
                                        <property name="overrides">
                                            <map>
                                                <entry key="regionId">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="id"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                        <property name="additionalFields">
                                            <map>
                                                <entry key="regionName">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="regionName"/>
                                                    </bean>
                                                </entry>
                                                <entry key="zipCode">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                                        <property name="propertyName" value="postalCode"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                    </bean>
                                </property>

                            </bean>
                            <bean class="com.dottydingo.hyperion.core.configuration.ApiVersionPluginBuilder">
                                <property name="translator">
                                    <bean class="com.dottydingo.hyperion.northwind.service.translator.CustomerTranslator"
                                          init-method="init"/>
                                </property>
                                <property name="validator" ref="noOpValidator"/>
                                <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Customer"/>
                                <property name="sortBuilders">
                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.JpaEntitySortBuilderFactoryBean">
                                        <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Customer"/>
                                        <property name="overrides">
                                            <map>
                                                <entry key="regionId">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="id"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                        <property name="additionalFields">
                                            <map>
                                                <entry key="regionName">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="regionName"/>
                                                    </bean>
                                                </entry>
                                                <entry key="zipCode">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.sort.DefaultJpaEntitySortBuilder">
                                                        <property name="propertyName" value="postalCode"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                    </bean>
                                </property>
                                <property name="queryBuilders">
                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.JpaEntityQueryBuilderFactoryBean">
                                        <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Customer"/>
                                        <property name="overrides">
                                            <map>
                                                <entry key="regionId">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="id"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                        <property name="additionalFields">
                                            <map>
                                                <entry key="regionName">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                                        <property name="propertyPath" value="region"/>
                                                        <property name="propertyName" value="regionName"/>
                                                    </bean>
                                                </entry>
                                                <entry key="zipCode">
                                                    <bean class="com.dottydingo.hyperion.jpa.persistence.query.DefaultJpaEntityQueryBuilder">
                                                        <property name="propertyName" value="postalCode"/>
                                                    </bean>
                                                </entry>
                                            </map>
                                        </property>
                                    </bean>
                                </property>

                            </bean>
                        </list>
                    </property>

                </bean>
                <bean class="com.dottydingo.hyperion.core.configuration.EntityPluginBuilder">
                    <property name="endpointName" value="Region"/>
                    <property name="entityClass" value="com.dottydingo.hyperion.northwind.service.model.PersistentRegion"/>
                    <property name="entityChangeListeners" ref="loggingChangeEventListener"/>
                    <property name="versions">
                        <bean class="com.dottydingo.hyperion.core.configuration.ApiVersionPluginBuilder">
                            <property name="translator">
                                <bean class="com.dottydingo.hyperion.northwind.service.translator.RegionTranslator"
                                      init-method="init"/>
                            </property>
                            <property name="validator" ref="noOpValidator"/>
                            <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Region"/>
                            <property name="sortBuilders">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.sort.JpaEntitySortBuilderFactoryBean">
                                    <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Region"/>
                                </bean>
                            </property>
                            <property name="queryBuilders">
                                <bean class="com.dottydingo.hyperion.jpa.persistence.query.JpaEntityQueryBuilderFactoryBean">
                                    <property name="apiClass" value="com.dottydingo.hyperion.northwind.api.Region"/>
                                </bean>
                            </property>
                        </bean>
                    </property>

                </bean>
            </list>
        </property>
    </bean>

</beans>