<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:com/dottydingo/hyperion/core/spring/hyperion_default.properties</value>
                <value>classpath:application.properties</value>
                <!-- Uncomment this line for using an embedded h2 database -->
                <value>file:h2.properties</value>
                <!-- Uncomment this line for using a mysql database -->
                <!--<value>file:mysql.properties</value>-->
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.dottydingo.hyperion.northwind"/>

    <bean id="hyperionEndpoint" class="com.dottydingo.service.endpoint.spring.EndpointRequestHandler">
        <property name="endpointHandler" ref="hyperionEndpointHandler"/>
    </bean>

    <bean id="hyperionSwaggerRequestHandler" class="com.dottydingo.hyperion.module.swagger.SwaggerRequestHandler">
        <property name="swaggerSpecBuilder">
            <bean class="com.dottydingo.hyperion.module.swagger.SwaggerSpecBuilder">
                <property name="basePath" value="http://localhost:8080/data"/>
                <property name="serviceRegistry" ref="hyperionServiceRegistry"/>
                <property name="endpointConfiguration" ref="hyperionEndpointConfiguration"/>
            </bean>
        </property>
        <property name="additionalResources">
            <list>
                <bean class="com.dottydingo.hyperion.module.swagger.EmbeddedResourceHandler">
                    <property name="path" value="test"/>
                    <property name="description" value="foobar"/>
                    <property name="location" value="/swagger/test.json"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
        <property name="locateExistingServerIfPossible" value="true"/>
    </bean>

    <!--
    this bean needs to be eagerly pre-instantiated in order for the exporting to occur;
    this means that it must not be marked as lazily initialized
    -->
    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
        <property name="beans">
            <map>
                <entry key="bean:name=testBean1" value-ref="hyperionEndpointStatus"/>
                <entry key="executors:name=endpointValidation" value-ref="hyperionEndpointValidationTpExecutorMbean"/>
                <entry key="executors:name=query" value-ref="hyperionQueryTpExecutorMbean"/>
                <entry key="executors:name=get" value-ref="hyperionGetTpExecutorMbean"/>
                <entry key="executors:name=create" value-ref="hyperionCreateTpExecutorMbean"/>
                <entry key="executors:name=update" value-ref="hyperionUpdateTpExecutorMbean"/>
                <entry key="executors:name=delete" value-ref="hyperionDeleteTpExecutorMbean"/>
                <entry key="executors:name=history" value-ref="hyperionHistoryTpExecutorMbean"/>
                <entry key="executors:name=options" value-ref="hyperionOptionsTpExecutorMbean"/>
                <entry key="executors:name=marshall" value-ref="hyperionMarhallTpExecutorMbean"/>
            </map>
        </property>
        <property name="server" ref="mbeanServer"/>
    </bean>
</beans>