<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:com/dottydingo/hyperion/spring/spring-hyperion-data.xml,
            classpath:com/dottydingo/hyperion/spring/spring-hyperion-endpoint.xml,
            classpath:com/dottydingo/hyperion/spring/spring-hyperion-phase.xml,
            <!--classpath:com/dottydingo/hyperion/spring/spring-hyperion-pipeline-synchronous.xml,-->
            classpath:com/dottydingo/hyperion/spring/spring-hyperion-pipeline-asynchronous.xml,
            classpath:com/dottydingo/hyperion/spring/spring-hyperion-management.xml,
            WEB-INF/spring-main.xml,
            WEB-INF/spring-persistence.xml,
            WEB-INF/spring-service.xml
        </param-value>
    </context-param>


    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>hyperionEndpoint</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>hyperionSwaggerRequestHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>hyperionEndpoint</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hyperionSwaggerRequestHandler</servlet-name>
        <url-pattern>/apidocs/*</url-pattern>
    </servlet-mapping>
</web-app>
